* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px 240px;
    background-color: rgb(30, 29, 37);
}

header {
    background-color: #1F2937;
    height: 64px;
    width: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.header-links {
    font-size: 18px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header-links a {
    color: #cccccc;
    text-decoration: none;
}

.header-links a:hover {
    color: aquamarine;
}

.hero-text {
    background-color: #1F2937;
    padding: 0 200px;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-text-block-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-text-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 1;
}

.hero-text-subtext {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}

.hero-text-signup-button {
    align-self: flex-start;
}

.button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border: 1px solid #3882F6;
    border-radius: 10px;
    padding: 8px 32px;
}

.button:hover {
    background-color: #2867ce;
    color: #e0e0e0;
    border: 1px solid #2867ce;
}

.hero-text-image {
    height: 250px;
    width: 500px;
    background-color: grey;
    margin-left: auto;
}

.hero-text-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.some-random-info-container {
    background-color: #e9f1f5;
    height: 60vh;
    padding: 48px 200px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.some-random-info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.some-random-info-block {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.some-random-info-boxes {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:12px;
}

.some-random-info-images {
    height: 175px;
    width: 100%;
    background-color: lightgray;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.some-random-info-images > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.quote-container {
    height: 50vh;
    background-color: #E5E7EB;
    padding: 0 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 24px;
}

.call-to-action-container {
    background-color: #e9f1f5;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-block {
    width: 70%;
    height: 45%;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.call-to-action-box-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.call-to-action-box-left > h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.call-to-action-box-left > p {
    color: #E5E7EB;
    font-size: 18px;
}

.call-to-action-button {
    border: 2px solid #e9f1f5;
}

.call-to-action-button:hover {
    border: 2px solid #e0e0e0;
}

footer {
    background-color: #1F2937;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}


@media (max-width: 480px) {
    body {
        margin: 0px;
    }
    
    header {
        background-color: #111c2b;
        height: 128px;
        padding: 18px 18px 0px;
        flex-direction: column;
        gap: 18px;
    }
    
    .header-logo {
        align-self: flex-start;
    }

    .header-links {
        margin-left: 0;
        height: 128px;
        text-align: center;
        align-items: center;
    }

    
    .hero-text {
        padding: 0px;
        height: 580px;
        flex-direction: column;
    }
    
    .hero-text-block-left {
        padding: 32px 18px 24px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 18px;
    }

    .hero-text-signup-button {
        align-self: center;
        margin-top: 6px;
    }

    .hero-text-image {
        height: 200px;
        width: 90%;
        margin: 16px 0px 0px;
    }
    
    .some-random-info-container {
        height: 750px;
        padding: 32px 18px 24px;
        text-align: center;
    }
    
    .some-random-info-header {
        padding-bottom: 18px;
        border-bottom: 5px solid #3882F6;
    }
    
    .some-random-info-block {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .some-random-info-boxes {
        width: 40vw;
        padding-bottom: 18px;
    }
    
    .some-random-info-images {
        height: 40vw;
    }
   
    .quote-container {
        height: 300px;
        padding: 32px 18px 24px;
        text-align: center;
    }
    
    .quote {
        font-size: 24px;
        padding-bottom: 18px;
    }
    
    .quote-author {
        font-size: 18px;
        margin: 0;
    }
   
    .call-to-action-container {
        background-color: #3882F6;
        height: 400px;
        padding: 48px 18px 24px;
    }
    
    .call-to-action-block {
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    .call-to-action-box-left {
        padding-bottom: 18px;
    }

   
    footer {
        height: 70px;
    }
    
    footer > p {
        font-size: 16px;
    }    
}
