* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px 240px;
    background-color: rgb(30, 29, 37);
}

header {
    background-color: #1F2937;
    height: 64px;
    width: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.header-links {
    font-size: 18px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header-links a {
    color: #cccccc;
    text-decoration: none;
}

.header-links a:hover {
    color: aquamarine;
}

.hero-text {
    background-color: #1F2937;
    padding: 0 200px;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-text-block-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-text-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 1;
}

.hero-text-subtext {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border: 1px solid #3882F6;
    border-radius: 10px;
    margin-right: auto;
    padding: 8px 32px;
}

.hero-text-image {
    height: 250px;
    width: 500px;
    background-color: grey;
    margin-left: auto;
}

.hero-text-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.some-random-info-container {
    background-color: #e9f1f5;
    height: 60vh;
    padding: 48px 200px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.some-random-info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.some-random-info-block {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.some-random-info-boxes {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:12px;
}

.some-random-info-images {
    height: 175px;
    width: 100%;
    background-color: lightgray;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.some-random-info-images > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}